@model ViewModelAppRole
@{
    ViewData["Title"] = "UpdateRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="UpdateRole" asp-controller="Role" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"></span>
        <input asp-for="Name" />
    </div>

    <div asp-validation-summary="ModelOnly"></div>

    <input type="submit" class="btn btn-primary" value="Kaydet" />

</form>

